body {
    background: #1c1c1c;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.card {
    height: 75vh;
    width: 25%;
    background: #000000;
    border-radius: 10%;
    transition: transform 0.3s ease, background 0.3s ease;
    transform-origin: center;
}
img {
    height: 20vh;
    border-radius: 50%;
    padding: 0.5rem;
}
.avatar {
    display: flex;
    justify-content: center;
}
.h1 {
    font-family: Andale Mono, monospace;
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, 4vw, 2rem);
    background: #232323;
    margin: 0 1rem;
    border-radius: 50rem;
    font-weight: bold;
    text-decoration: none;
}

.h1.mettat:hover {
    background: pink;
}
.h1.artem:hover {
    background: #ff2b2b;
    color: #aa1e1e;
}
.h1.aifer:hover {
    background: #6d98c1;
}
.h1.spaces:hover {
    background: #09137e;
}
.h1.pyshik:hover {
    background: black;
}
.h1.flame:hover {
    background: #35aafb;
}
.h1.cyn:hover {
    background: #dfc9a2;
    color: #4e1b6c;
}
.h1.thirt:hover {
    background: white;
    color: #878787;
}
.h1.ander:hover {
    background: #2b19d1;
    color: #9a5fd8;
}
.h1.starlight:hover {
    background: #1c3271;
    color: #076aff;
}
.h1.matrix:hover {
    background: #1f4c57;
    color: #02ffff;
}
.h1.smile:hover {
    color: #a8238d;
    background: #3a3687;
}
.aifer {
    color: cyan;
}
.artem {
    color: darkred;
}
.mettat {
    color:deeppink;
}
.spaces {
    color: #9318e1;
}
.pyshik {
    color: #838383;
}
.flame {
    color: green;
}
.cyn {
    color: #dfc9a2;
}
.thirt {
    color: #000000;
}
.ander {
    color: #2b19d1;
}
.starlight {
    color: #02275e;
}
.matrix {
    color: #19333e;
}
.smile {
    color: #49023b;
}
.card:hover {
    background: #333333;
    transform: scale(1.08);
}
.rank {
    font-family: monospace;
    color: #ffffff;
    text-align: center;
    background: #232323;
    margin: 0.1rem 5rem;
    border-radius: 60rem;
}
.p {
    font-size: clamp(0.1rem, 4vw, 0.9rem);
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    color: white;
    background: #232323;
    border-radius: 2rem;
    height: 1.5rem;
}
.metta:hover {
    background: pink;
    color:deeppink;
}
.art:hover {
    color: darkred;
    background: #e83939;
}
.aif:hover {
    color: cyan;
    background: #6d98c1;
}
.space:hover {
    color: #9318e1;
    background: #09137e;
}
.pys:hover {
    color: #838383;
    background: #000000;
}
.flam:hover {
    color: green;
    background: #35aafb;
}
.cy:hover {
    color: #4e1b6c;
    background: #dfc9a2;
}
.thir:hover {
    background: white;
    color: #878787;
}
.and:hover {
    background: #2b19d1;
    color: #9a5fd8;
}
.star:hover {
    color: #076aff;
    background: #1c3271;
}
.mat:hover {
    background: #1f4c57;
    color: #02ffff;
}
.smil:hover {
    color: #a8238d;
    background: #3a3687;
}
.like {
    height: 2.3rem;
}
.rank:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .card {
        width: 80%;
        height: auto;
        margin-bottom: 1rem;
    }
    body {
        flex-direction: column;
    }
    .p {
        height: auto;
    }
    .matrix.h1 {
        color: #02ffff;
    }
    .starlight.h1 {
        color: #076aff;
    }
    /*.p.like {
        font-size: clamp(0.1rem, 4vw, 0.7rem);
    }*/ /*пока не нужно, после тестов возможно удалю*/
    .p.like {
        height: 3rem;
    }
}
.card, .h1, .p {
    transition: all 0.3s ease;
}